:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --text-secondary-color: #757575;
  --background-color: #2f303a;
  --background-button-color: #f5f4fa;

  --primary-font: "Roboto";
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*===Body styles start====*/
body {
  background-color: #ffffff;
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.logo-footer,
.logo-header {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.studio-header {
  color: #000000;
}
.studio-footer {
  color: #ffffff;
}
.example-name {
  color: var(--text-secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.example-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

button {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
}
.btn-list button {
  background-color: var(--background-button-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  height: 38px;
}

.btn-list button:hover,
.btn-list button:focus {
  color: #ffffff;
}
.btn-list button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.example-list,
.btn-list {
  list-style-type: none;
}
/*.btn-all {
  width: 73px;
}
.btn-veb {
  width: 138px;
}
.btn-application {
  width: 145px;
}
.btn-design {
  width: 103px;
}
.btn-marketing {
  width: 130px;
}*/

.dignity-item {
  list-style-type: none;
}
.dignity-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.dignity-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}
.hero-box {
  text-align: center;
  background-color: var(--background-color);
  padding: 200px 452px;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
}
.hidden,
.visible {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.hidden {
  display: none;
}

.conteiner-list,
.site-nav,
.contacts {
  list-style-type: none;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.link-studio,
.link-portfolio,
.link-contacts,
.contacts-mail,
.contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-studio,
.link-contacts,
.link-portfolio {
  color: var(--primary-text-color);
}

.link-studio:hover,
.link-studio:hover,
.link-contacts:hover,
.link-contacts:focus,
.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--accent-color);
}
.contacts-mail,
.contacts-tel {
  color: var(--text-secondary-color);
}

.contacts-mail:hover,
.contacts-mail:focus,
.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--accent-color);
}

/*===Header styles end=====*/

/*==========Footer==========*/

footer {
  font-family: var(--primary-font), sans-serif;
  background-color: var(--background-color);
}

.address-map,
.address-mail,
.address-tel {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list {
  list-style-type: none;
}
.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: #ffffff;
}
